In [1]:
s = "ineuron"

In [2]:
type(s)

str

In [3]:
s[0]

'i'

In [4]:
s[5]

'o'

In [6]:
s[-2]

'o'

In [7]:
s1 = "manish"

In [8]:
s1[-2]

's'

In [9]:
s1[0]

'm'

In [10]:
s1[-1]

'h'

In [13]:
s2 = 'this is my first progrmming class"s'

In [14]:
s2

'this is my first progrmming class"s'

In [17]:
s2[8]

'm'

In [18]:
s2[1:5]

'his '

In [19]:
s2[6:30]

's my first progrmming cl'

In [21]:
s2[6:30:2]

'sm is rgmigc'

In [24]:
s= "manishbisht"

In [25]:
s[0:8:-1]

''

In [26]:
s[8:0:-1]

'sibhsina'

In [29]:
s[8:0:-2]

'sbsn'

In [30]:
s[:-3]

'manishbi'

In [31]:
s[-2:]

'ht'

In [32]:
s[::1]

'manishbisht'

In [33]:
s[0:50:1]

'manishbisht'

In [34]:
s[::-1]

'thsibhsinam'

In [35]:
s2

'this is my first progrmming class"s'

In [36]:
s2[::-1]

's"ssalc gnimmrgorp tsrif ym si siht'

In [37]:
s[8:0:-1]

'sibhsina'

In [38]:
s3 = 'ineuron'

In [39]:
s3[::-1]

'norueni'

In [40]:
s3[-2:-7:1]

''

In [44]:
s3[-7:-2:1]

'ineur'

In [45]:
s3[-7:-1:1]

'ineuro'

In [46]:
s

'manishbisht'

In [47]:
s + 1

TypeError: can only concatenate str (not "int") to str

In [49]:
s + '1'

'manishbisht1'

In [50]:
s+"1"

'manishbisht1'

In [51]:
s+ str(1)

'manishbisht1'

In [52]:
s

'manishbisht'

In [53]:
len(s)

11

In [54]:
s

'manishbisht'

In [59]:
s * 2

'manishbishtmanishbisht'

In [75]:
s.count('ht')

1

In [81]:
s.split('s')

['mani', 'hbi', 'ht']

In [82]:
type(s.split('u'))

list

In [93]:
sw = "In 1938, during Japanese-ruled Korea, Lee Byung-chul (1910–1987) of a large landowning family in the Uiryeong county moved to nearby Daegu city and founded Mitsuboshi Trading Company (株式会社三星商会 (Kabushiki gaisha Mitsuboshi Shōkai)), or Samsung Sanghoe (주식회사 삼성상회). Samsung started out as a small trading company with forty employees located in Su-dong (now Ingyo-dong).[16] It dealt in dried-fish,[16] locally-grown groceries and noodles. The company prospered and Lee moved its head office to Seoul in 1947. When the Korean War broke out, he was forced to leave Seoul. He started a sugar refinery in Busan named Cheil Jedang. In 1954, Lee founded Cheil Mojik and built the plant in Chimsan-dong, Daegu. It was the largest woollen mill ever in the country."

In [94]:
sw

'In 1938, during Japanese-ruled Korea, Lee Byung-chul (1910–1987) of a large landowning family in the Uiryeong county moved to nearby Daegu city and founded Mitsuboshi Trading Company (株式会社三星商会 (Kabushiki gaisha Mitsuboshi Shōkai)), or Samsung Sanghoe (주식회사 삼성상회). Samsung started out as a small trading company with forty employees located in Su-dong (now Ingyo-dong).[16] It dealt in dried-fish,[16] locally-grown groceries and noodles. The company prospered and Lee moved its head office to Seoul in 1947. When the Korean War broke out, he was forced to leave Seoul. He started a sugar refinery in Busan named Cheil Jedang. In 1954, Lee founded Cheil Mojik and built the plant in Chimsan-dong, Daegu. It was the largest woollen mill ever in the country.'

In [95]:
sw.split(' ')

['In',
 '1938,',
 'during',
 'Japanese-ruled',
 'Korea,',
 'Lee',
 'Byung-chul',
 '(1910–1987)',
 'of',
 'a',
 'large',
 'landowning',
 'family',
 'in',
 'the',
 'Uiryeong',
 'county',
 'moved',
 'to',
 'nearby',
 'Daegu',
 'city',
 'and',
 'founded',
 'Mitsuboshi',
 'Trading',
 'Company',
 '(株式会社三星商会',
 '(Kabushiki',
 'gaisha',
 'Mitsuboshi',
 'Shōkai)),',
 'or',
 'Samsung',
 'Sanghoe',
 '(주식회사',
 '삼성상회).',
 'Samsung',
 'started',
 'out',
 'as',
 'a',
 'small',
 'trading',
 'company',
 'with',
 'forty',
 'employees',
 'located',
 'in',
 'Su-dong',
 '(now',
 'Ingyo-dong).[16]',
 'It',
 'dealt',
 'in',
 'dried-fish,[16]',
 'locally-grown',
 'groceries',
 'and',
 'noodles.',
 'The',
 'company',
 'prospered',
 'and',
 'Lee',
 'moved',
 'its',
 'head',
 'office',
 'to',
 'Seoul',
 'in',
 '1947.',
 'When',
 'the',
 'Korean',
 'War',
 'broke',
 'out,',
 'he',
 'was',
 'forced',
 'to',
 'leave',
 'Seoul.',
 'He',
 'started',
 'a',
 'sugar',
 'refinery',
 'in',
 'Busan',
 'named',
 'Cheil',
 'Jedang.',
 'In',
 '1954,',
 'Lee',
 'founded',
 'Cheil',
 'Mojik',
 'and',
 'built',
 'the',
 'plant',
 'in',
 'Chimsan-dong,',
 'Daegu.',
 'It',
 'was',
 'the',
 'largest',
 'woollen',
 'mill',
 'ever',
 'in',
 'the',
 'country.']

In [96]:
sw

'In 1938, during Japanese-ruled Korea, Lee Byung-chul (1910–1987) of a large landowning family in the Uiryeong county moved to nearby Daegu city and founded Mitsuboshi Trading Company (株式会社三星商会 (Kabushiki gaisha Mitsuboshi Shōkai)), or Samsung Sanghoe (주식회사 삼성상회). Samsung started out as a small trading company with forty employees located in Su-dong (now Ingyo-dong).[16] It dealt in dried-fish,[16] locally-grown groceries and noodles. The company prospered and Lee moved its head office to Seoul in 1947. When the Korean War broke out, he was forced to leave Seoul. He started a sugar refinery in Busan named Cheil Jedang. In 1954, Lee founded Cheil Mojik and built the plant in Chimsan-dong, Daegu. It was the largest woollen mill ever in the country.'

In [97]:
sw.upper()

'IN 1938, DURING JAPANESE-RULED KOREA, LEE BYUNG-CHUL (1910–1987) OF A LARGE LANDOWNING FAMILY IN THE UIRYEONG COUNTY MOVED TO NEARBY DAEGU CITY AND FOUNDED MITSUBOSHI TRADING COMPANY (株式会社三星商会 (KABUSHIKI GAISHA MITSUBOSHI SHŌKAI)), OR SAMSUNG SANGHOE (주식회사 삼성상회). SAMSUNG STARTED OUT AS A SMALL TRADING COMPANY WITH FORTY EMPLOYEES LOCATED IN SU-DONG (NOW INGYO-DONG).[16] IT DEALT IN DRIED-FISH,[16] LOCALLY-GROWN GROCERIES AND NOODLES. THE COMPANY PROSPERED AND LEE MOVED ITS HEAD OFFICE TO SEOUL IN 1947. WHEN THE KOREAN WAR BROKE OUT, HE WAS FORCED TO LEAVE SEOUL. HE STARTED A SUGAR REFINERY IN BUSAN NAMED CHEIL JEDANG. IN 1954, LEE FOUNDED CHEIL MOJIK AND BUILT THE PLANT IN CHIMSAN-DONG, DAEGU. IT WAS THE LARGEST WOOLLEN MILL EVER IN THE COUNTRY.'

In [98]:
sw

'In 1938, during Japanese-ruled Korea, Lee Byung-chul (1910–1987) of a large landowning family in the Uiryeong county moved to nearby Daegu city and founded Mitsuboshi Trading Company (株式会社三星商会 (Kabushiki gaisha Mitsuboshi Shōkai)), or Samsung Sanghoe (주식회사 삼성상회). Samsung started out as a small trading company with forty employees located in Su-dong (now Ingyo-dong).[16] It dealt in dried-fish,[16] locally-grown groceries and noodles. The company prospered and Lee moved its head office to Seoul in 1947. When the Korean War broke out, he was forced to leave Seoul. He started a sugar refinery in Busan named Cheil Jedang. In 1954, Lee founded Cheil Mojik and built the plant in Chimsan-dong, Daegu. It was the largest woollen mill ever in the country.'

In [99]:
sw = sw.upper()

In [100]:
sw

'IN 1938, DURING JAPANESE-RULED KOREA, LEE BYUNG-CHUL (1910–1987) OF A LARGE LANDOWNING FAMILY IN THE UIRYEONG COUNTY MOVED TO NEARBY DAEGU CITY AND FOUNDED MITSUBOSHI TRADING COMPANY (株式会社三星商会 (KABUSHIKI GAISHA MITSUBOSHI SHŌKAI)), OR SAMSUNG SANGHOE (주식회사 삼성상회). SAMSUNG STARTED OUT AS A SMALL TRADING COMPANY WITH FORTY EMPLOYEES LOCATED IN SU-DONG (NOW INGYO-DONG).[16] IT DEALT IN DRIED-FISH,[16] LOCALLY-GROWN GROCERIES AND NOODLES. THE COMPANY PROSPERED AND LEE MOVED ITS HEAD OFFICE TO SEOUL IN 1947. WHEN THE KOREAN WAR BROKE OUT, HE WAS FORCED TO LEAVE SEOUL. HE STARTED A SUGAR REFINERY IN BUSAN NAMED CHEIL JEDANG. IN 1954, LEE FOUNDED CHEIL MOJIK AND BUILT THE PLANT IN CHIMSAN-DONG, DAEGU. IT WAS THE LARGEST WOOLLEN MILL EVER IN THE COUNTRY.'

In [11]:
m = "manish bisht"

In [12]:
m.title()

'Manish Bisht'

In [13]:
m.capitalize()

'Manish bisht'

In [14]:
m = "ManISh biSHT"

In [16]:
m.swapcase()

'mANisH BIsht'

In [19]:
''.join(reversed(m))

'THSib hSInaM'

In [22]:
m = " Man ish "

In [23]:
m.strip()

'Man ish'

In [24]:
m

' Man ish '

In [27]:
m.lstrip()

'Man ish '

In [28]:
m.rstrip()

' Man ish'

In [34]:
"  ".join("Manish")

'M  a  n  i  s  h'

In [35]:
"x".join("Manish")

'Mxaxnxixsxh'

In [72]:
m = "Manish"

In [46]:
m.center(20 , '#')

'#######Manish#######'

In [47]:
m.isupper()

False

In [50]:
m = "MANISH"

In [51]:
m.isupper()

True

In [52]:
m.islower()

False

In [53]:
m.isspace()

False

In [58]:
m4 = "  "

In [59]:
m4.isspace()

True

In [60]:
m.isdigit()

False

In [64]:
m5 = "2543534"

In [65]:
m5.isdigit()

True

In [69]:
m6 = "sdf879"

In [70]:
m6.isdigit()

False

In [73]:
m

'Manish'

In [74]:
m.isalnum()

True

In [75]:
m.isalpha()

True

In [76]:
m7 = "98698hiosd"

In [78]:
m7.isalpha()

False

In [79]:
m

'Manish'

In [81]:
m.startswith('i')

False

In [84]:
m.startswith('m')

False

In [85]:
m.endswith('s')

False

In [86]:
m.endswith('h')

True

In [93]:
m.isascii()

True

In [94]:
m

'Manish'

In [92]:
m.isnumeric()

False

In [97]:
m = "Manish"

In [98]:
reversed(m)

In [99]:
'd'.join("inueron")

'idndudedrdodn'

In [102]:
"".join(reversed("Manish"))

'hsinaM'

In [132]:
k = 'manish\tbisht\tindia'

In [133]:
k.expandtabs()

'manish  bisht   india'

In [136]:

1. Extracts data from index one to 300 with jump of 3
2. Reverse a strting without using reverse function
3. Split a string after conversion of entire string in uppercase
4. Convert the whole string in to lower case
5. Capitalize the whole string
6. Difference between isalpnum() and isalpha()
7. Give an example of expand tab
8. Example of strip, lstrip, rstrip
9. Replace a string character by another charector by taking your own expample.
10. definition of string center function with example
11. Write your own definition of compiler and interpretor in your own language.
12. Python is an interpreted of compiled language, answer with your understanding.
13. Write a usecase of Python with your understanding.

SyntaxError: invalid syntax (2571723181.py, line 3)

In [1]:
n = "this is my first Python programming class and i am learning python string and its functions"

In [138]:
n

'this is my first Python programming class and i am learning python string and its functions'

1. Extracts data from index one to 300 with jump of 3

In [2]:
n[0:300:3]

'tssyityopgmncsa alrnph rgni nis'

2. Reverse a strting without using reverse function

In [147]:
m = "country"
m

'country'

In [149]:
m[::-1]

'yrtnuoc'

3. Split a string after conversion of entire string in uppercase

In [173]:
n = "this is my first Python programming class and i am learning python string and its functions"
n

'this is my first Python programming class and i am learning python string and its functions'

In [177]:
x =n.upper()

In [179]:
x.split()

['THIS',
 'IS',
 'MY',
 'FIRST',
 'PYTHON',
 'PROGRAMMING',
 'CLASS',
 'AND',
 'I',
 'AM',
 'LEARNING',
 'PYTHON',
 'STRING',
 'AND',
 'ITS',
 'FUNCTIONS']

4. Convert the whole string in to lower case

In [181]:
x.lower()

'this is my first python programming class and i am learning python string and its functions'

Capitalize the whole string

In [4]:
n.capitalize()

'This is my first python programming class and i am learning python string and its functions'

5. Give an example of expand tab

In [191]:
n = "Give\tan\texample"

In [192]:
n.expandtabs()

'Give    an      example'

8. Example of strip, lstrip, rstrip

In [8]:
n= '     programming      '

In [9]:
n.strip()

'programming'

In [10]:
n.lstrip()

'programming      '

In [11]:
n.rstrip()

'     programming'

9. Replace a string character by another charector by taking your own expample.

In [15]:
n = "this is my first python programming class and i am learning python string and its functions"

In [16]:
n

'this is my first python programming class and i am learning python string and its functions'

In [17]:
n.replace('my first python programming', 'your',)

'this is your class and i am learning python string and its functions'

10. definition of string center function with example

string center function returns output in center with added value for given width.

In [247]:
n = 'python programming'
n

'python programming'

In [248]:
n.center (40, '@')

'@@@@@@@@@@@python programming@@@@@@@@@@@'

In [ ]:
6. Difference between isalpnum() and isalpha()

In [6]:
s1 = "sdfsgg"
s1.isalnum()

True

In [7]:
s2 = "sudh234"
s2.isalpha()

False

11. Write your own definition of compiler and interpretor in your own language.

In [ ]:
We can call compiler as translator between human and mechine. whhich translates any programming to into machine code or bytecode other in some other format.

Interpreter is don't translates in some other format. it directly executes the instructions written in the program.

Task 2 

l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]
1 . Try to reverse a list 
2. try to access 234 out of this list 
3 . try to access 456 
4 . Try to extract only a list collection form list l 
5 . Try to extract "sudh"
6 . Try to list all the key in dict element avaible in list 
7 . Try to extract all the value element form dict available in list

In [13]:
l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]

In [2]:
l[::-1]

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

In [3]:
l.reverse()

In [4]:
l

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

In [7]:
l[7][0]

234

In [10]:
list(l[8].keys())[1]

234

In [12]:
l[5][1]

456

In [15]:
l[5:7]

[[23, 456, 67, 8, 78, 78], [345, 56, 87, 8, 98, 9]]

In [16]:
l[5]

[23, 456, 67, 8, 78, 78]

In [17]:
l[6]

[345, 56, 87, 8, 98, 9]

In [18]:
l[8]['key1']

'sudh'

In [21]:
list(l[8].keys())

['key1', 234]

In [22]:
list(l[8].values())

['sudh', [23, 45, 656]]

Task 3

q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 : Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in the individual collection inside dataset
q15 : Try to unwrape all the collection inside collection and create a flat list.

In [23]:
n = 7
print()
for i in range(n):
    print("ineuron "*(i+1))

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron
ineuron ineuron ineuron ineuron ineuron
ineuron ineuron ineuron ineuron ineuron ineuron
ineuron ineuron ineuron ineuron ineuron ineuron ineuron

In [25]:
for i in range(6):
    if i <= 3:
        n = i
    else:
        n = 6 - i
    print(("ineuron "*n).center(50,' '))

                     ineuron
                 ineuron ineuron
             ineuron ineuron ineuron
                 ineuron ineuron
                     ineuron

In [40]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [27]:
for i in l:
    if type(i) == list :
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [28]:
for i in l:
    if type(i) == dict :
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [29]:
for i in l:
    if type(i) == tuple :
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [11]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [12]:
l1 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if type(j) == int:
                l1.append(j)
    if type(i) == dict :
        for k in i.items() :
            for g in k :
                if type(g) == int :
                    l1.append(g)

In [13]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [14]:
d = {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8}

In [49]:
d

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [50]:
sum(l1)

156

In [51]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [56]:
for i in l1 :
    if i % 2 == 0 :
        pass
    else :
        print(i)

1
3
3
5
3
5
7
45
5
23
3
7

In [1]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [2]:
l1 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if j == 'ineuron':
                l1.append(j)
    if type(i) == dict :
        for k in i.items() :
            for g in k :
                if g == 'ineuron' :
                    l1.append(g)

In [3]:
l1

['ineuron', 'ineuron']

In [4]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [5]:
l1 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if type(j) == int or type(j) == str:
                l1.append(j)
    if type(i) == dict :
        for k in i.items() :
            for g in k :
                if type(g) == int or type(g) == str :
                    l1.append(g)

In [6]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [84]:
for i in set(l1) :
    print(i , ":" , l1.count(i))

1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
sudh : 1
8 : 1
45 : 1
k1 : 1
data science  : 1
kumar : 1
23 : 1
k2 : 1
ineuron : 2
k3 : 1

In [2]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [4]:
for i in l :
    if type(i) == dict :
        print(len(i.keys()))

5

In [7]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [8]:
for i in l1 :
    if type(i) == str :
        print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

In [10]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [12]:
for i in l1 :
    if type(i) == str :
        if i.isalnum() :
            print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron

In [28]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [41]:

for i in l :
    m = 1
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if type(j) == int :
                m = m*j
        print(type(i) ,m)
    if type(i) == dict :
        for k in i.items():
            for n in k :
                if type(n) == int :
                    m = m*n
        print(type(i) , m)

<class 'list'> 24
<class 'tuple'> 720
<class 'tuple'> 2520
<class 'set'> 20700
<class 'dict'> 1008
<class 'list'> 1

In [42]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [ ]:
Task 4

q1 : Try to print this by using while loop 
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * * * 
* * * * * * * 
* * * * * * * * 
* * * * * * * * * 

q2 : try to print below by using while loop : 
        
A
B H 
C I N
D J o S
E K p T W
F L Q U X z
G M R V Y 

q3 : Try to print all the number divisible by 3 in between a range of 40 - 400
    
q4 : Try to filter out all the vowels form below text by using while loop : 
 """Python is a high-level, interpreted, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation.[32]

Python is dynamically-typed and garbage-collected. It supports multiple programming paradigms, including structured (particularly procedural), object-oriented and functional programming. It is often described as a "batteries included" language due to its comprehensive standard library.[33][34]

Guido van Rossum began working on Python in the late 1980s as a successor to the ABC programming language and first released it in 1991 as Python 0.9.0.[35] Python 2.0 was released in 2000 and introduced new features such as list comprehensions, cycle-detecting garbage collection, reference counting, and Unicode support. Python 3.0, released in 2008, was a major revision that is not completely backward-compatible with earlier versions. Python 2 was discontinued with version 2.7.18 in 2020.[36]

Python consistently ranks as one of the most popular programming languagesc""" 


q5 : Try to generate all the even number between 1- 1000

q6 : Define a function for all the above problem statememnt  . 
    
q7 : write a code to get a time of your system 

q8 : Write a code to fetch date form your system 

q9 : Write a code to send a mail to your friend 

q10 : write a code to trigger alarm for you at scheduled time 

q11 : write a code to check ip address of your system 

q12 : Write a code to check a perticular installation in your system

q13 : Write a code to convert any text in to voice 

q14 : you have to write a fun which will take string and return a len of 
it without using a inbuilt fun len

q15 :write a fun which will be able to print an index of all premitive element which you will pass 

q16 : Write a fun which will take input as a dict and give me out as a list of all the values 
even in case of 2 level nesting it should work . 

q17 : write a function whihc will take multiple list as a input and give me concatnation of all the element as 
and output

q18 : Write a function which will whould return list of all the file name from a directory . 

q19 : write a function whihc will be able to read a image file and show it to you .
    
q20 : write a function by which you will be able to append two PDF files . 
    
q21 : write a function which can help you to filter only word file from a directory . 
    
q22 : write a function which can read video file and play for you . 
    
q23 : write a function which will be able to shutdonw your system . 

q24 : Write a function which will whould return list of all the file name from a directory . 

q25 : write a function whihc will be able to access your mail .

In [1]:
i = 9
n = 1
while n <= i :
    print('* '*n)
    n = n +1

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [4]:
i = 40
while i <= 400 :
    if i % 3 == 0 :
        print(i)
    i = i + 1

42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99
102
105
108
111
114
117
120
123
126
129
132
135
138
141
144
147
150
153
156
159
162
165
168
171
174
177
180
183
186
189
192
195
198
201
204
207
210
213
216
219
222
225
228
231
234
237
240
243
246
249
252
255
258
261
264
267
270
273
276
279
282
285
288
291
294
297
300
303
306
309
312
315
318
321
324
327
330
333
336
339
342
345
348
351
354
357
360
363
366
369
372
375
378
381
384
387
390
393
396
399

In [2]:
s = """Python is a high-level, interpreted, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation.[32]

Python is dynamically-typed and garbage-collected. It supports multiple programming paradigms, including structured (particularly procedural), object-oriented and functional programming. It is often described as a "batteries included" language due to its comprehensive standard library.[33][34]

Guido van Rossum began working on Python in the late 1980s as a successor to the ABC programming language and first released it in 1991 as Python 0.9.0.[35] Python 2.0 was released in 2000 and introduced new features such as list comprehensions, cycle-detecting garbage collection, reference counting, and Unicode support. Python 3.0, released in 2008, was a major revision that is not completely backward-compatible with earlier versions. Python 2 was discontinued with version 2.7.18 in 2020.[36]

Python consistently ranks as one of the most popular programming languagesc"""

In [3]:
i = 0
v = 'aeiou'
s = s.lower()
while i < len(s):
    if s[i] in v :
        print(s[i])
    i = i+1

o
i
a
i
e
e
i
e
e
e
e
e
a
u
o
e
o
a
i
a
u
a
e
i
e
i
i
o
o
e
a
i
e
o
e
e
a
a
i
i
i
e
u
e
o
i
i
i
a
i
e
a
i
o
o
i
a
i
a
e
a
a
a
e
o
e
e
i
u
o
u
i
e
o
a
i
a
a
i
i
u
i
u
u
e
a
i
u
a
o
e
u
a
o
e
o
i
e
e
a
u
i
o
a
o
a
i
i
i
o
e
e
i
e
a
a
a
e
i
e
i
u
e
a
u
a
e
u
e
o
i
o
e
e
i
e
a
a
i
a
u
i
o
a
o
u
e
a
o
i
o
o
i
e
a
e
a
a
u
e
o
o
e
a
o
a
i
a
u
a
e
a
i
e
e
a
e
i
i
a
o
o
a
e
e
a
e
i
a
i
o
u
e
e
e
a
u
e
u
a
i
o
e
e
i
o
e
e
e
i
a
a
e
o
e
i
o
e
e
e
e
o
u
i
a
u
i
o
e
u
o
o
e
e
a
e
i
a
a
a
o
e
i
i
o
a
i
o
o
e
e
a
a
o
a
i
e
i
e
a
i
e
e
i
o
o
a
i
o
i
u
e
i
e
i
o
i
o
o
i
e
a
a
o
e
o
e
o
o
u
a
o
a
i
a
u
a
e

In [4]:
i = 1
while i <= 1000 :
    if i % 2 == 0 :
        print(i)
    i = i + 1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200
202
204
206
208
210
212
214
216
218
220
222
224
226
228
230
232
234
236
238
240
242
244
246
248
250
252
254
256
258
260
262
264
266
268
270
272
274
276
278
280
282
284
286
288
290
292
294
296
298
300
302
304
306
308
310
312
314
316
318
320
322
324
326
328
330
332
334
336
338
340
342
344
346
348
350
352
354
356
358
360
362
364
366
368
370
372
374
376
378
380
382
384
386
388
390
392
394
396
398
400
402
404
406
408
410
412
414
416
418
420
422
424
426
428
430
432
434
436
438
440
442
444
446
448
450
452
454
456
458
460
462
464
466
468
470
472
474
476
478
480
482
484
486
488
490
492
494
496
498
500
502
504
506
508
510
512
514
516
518
520
522
524
526
528
530
532
534
536
538
540
542
544
546
548
550
552
554
556
558
560
562
564
566
568
570
572
574
576
578
580
582
584
586
588
590
592
594
596
598
600
602
604
606
608
610
612
614
616
618
620
622
624
626
628
630
632
634
636
638
640
642
644
646
648
650
652
654
656
658
660
662
664
666
668
670
672
674
676
678
680
682
684
686
688
690
692
694
696
698
700
702
704
706
708
710
712
714
716
718
720
722
724
726
728
730
732
734
736
738
740
742
744
746
748
750
752
754
756
758
760
762
764
766
768
770
772
774
776
778
780
782
784
786
788
790
792
794
796
798
800
802
804
806
808
810
812
814
816
818
820
822
824
826
828
830
832
834
836
838
840
842
844
846
848
850
852
854
856
858
860
862
864
866
868
870
872
874
876
878
880
882
884
886
888
890
892
894
896
898
900
902
904
906
908
910
912
914
916
918
920
922
924
926
928
930
932
934
936
938
940
942
944
946
948
950
952
954
956
958
960
962
964
966
968
970
972
974
976
978
980
982
984
986
988
990
992
994
996
998
1000

In [7]:
def vowel(s) :
    
    i = 0
    v = 'aeiou'
    s = s.lower()
    while i < len(s):
        if s[i] in v :
            print(s[i])
        i = i+1

In [8]:
vowel(s)

o
i
a
i
e
e
i
e
e
e
e
e
a
u
o
e
o
a
i
a
u
a
e
i
e
i
i
o
o
e
a
i
e
o
e
e
a
a
i
i
i
e
u
e
o
i
i
i
a
i
e
a
i
o
o
i
a
i
a
e
a
a
a
e
o
e
e
i
u
o
u
i
e
o
a
i
a
a
i
i
u
i
u
u
e
a
i
u
a
o
e
u
a
o
e
o
i
e
e
a
u
i
o
a
o
a
i
i
i
o
e
e
i
e
a
a
a
e
i
e
i
u
e
a
u
a
e
u
e
o
i
o
e
e
i
e
a
a
i
a
u
i
o
a
o
u
e
a
o
i
o
o
i
e
a
e
a
a
u
e
o
o
e
a
o
a
i
a
u
a
e
a
i
e
e
a
e
i
i
a
o
o
a
e
e
a
e
i
a
i
o
u
e
e
e
a
u
e
u
a
i
o
e
e
i
o
e
e
e
i
a
a
e
o
e
i
o
e
e
e
e
o
u
i
a
u
i
o
e
u
o
o
e
e
a
e
i
a
a
a
o
e
i
i
o
a
i
o
o
e
e
a
a
o
a
i
e
i
e
a
i
e
e
i
o
o
a
i
o
i
u
e
i
e
i
o
i
o
o
i
e
a
a
o
e
o
e
o
o
u
a
o
a
i
a
u
a
e

q7

In [12]:
import datetime
datetime.datetime.now().time()

datetime.time(12, 53, 53, 613678)

In [13]:
import datetime
datetime.date.today()

datetime.date(2022, 8, 3)

q9 : Write a code to send a mail to your friend

In [23]:
import smtplib
server = smtplib.SMTP('smpt.gmail.com' , 587)

server.starttls()

server.login('bishtmanish713@gmail.com', "***")

server.sendmail('bishtmanish713@gmail.com' , 'TEST EMAIL using python')

print('mail sent')

gaierror: [Errno 11001] getaddrinfo failed

In [ ]:
Q10

In [26]:
!pip install playsound

Collecting playsound
  Downloading playsound-1.3.0.tar.gz (7.7 kB)
Building wheels for collected packages: playsound
  Building wheel for playsound (setup.py): started
  Building wheel for playsound (setup.py): finished with status 'done'
  Created wheel for playsound: filename=playsound-1.3.0-py3-none-any.whl size=7035 sha256=c83e59eccc0f04a38a916673a1bf3959efad9ebd90371b21673360afb2a7ceff
  Stored in directory: c:\users\manish.bisht\appdata\local\pip\cache\wheels\ba\39\54\c8f7ff9a88a644d3c58b4dec802d90b79a2e0fb2a6b884bf82
Successfully built playsound
Installing collected packages: playsound
Successfully installed playsound-1.3.0

In [28]:
import time
import playsound

alarm_time = '13:30'
if time.asctime()[11:-8] == alarm_time :
    absolute_path = os.path.abspath("money_jiggle_jiggle.mp3")
    print(absolute_path)
    playsound.playsound(absolute_path)

Q 11

In [32]:
import socket
host = socket.gethostname()
ip = socket.gethostbyname(host)
print("print ip address is", ip)
print("print ip address is", host)

print ip address is 192.168.1.209
print ip address is ES-OUN-LT-598

Q12

In [35]:
!pip install winapps

Collecting winapps
  Downloading winapps-0.2.0-py3-none-any.whl (9.1 kB)
Collecting plumbum<2.0,>=1.6
  Downloading plumbum-1.7.2-py2.py3-none-any.whl (117 kB)
Requirement already satisfied: pywin32 in c:\users\manish.bisht\anaconda3\lib\site-packages (from plumbum<2.0,>=1.6->winapps) (302)
Installing collected packages: plumbum, winapps
Successfully installed plumbum-1.7.2 winapps-0.2.0

q13 : Write a code to convert any text in to voice

In [9]:
import gtts
from playsound import playsound
def txt_to_voice(str1):
    tts=gtts.gTTs(str1)
    tts.save("hello.mp3")
    playsound("hello.mp3")
    
Text=input("Enter the text to convert to voice")    
txt_to_voice(Text)

Enter the text to convert to voicehey

AttributeError: module 'gtts' has no attribute 'gTTs'

q15 :write a fun which will be able to print an index of all premitive element which you will pass 

q16 : Write a fun which will take input as a dict and give me output as a list of all the values 
even in case of 2 level nesting it should work . 

q17 : write a function whihc will take multiple list as a input and give me concatnation of all the element as 
and output

q18 : Write a function which will whould return list of all the file name from a directory . 

q19 : write a function whihc will be able to read a image file and show it to you .
    
q20 : write a function by which you will be able to append two PDF files . 
    
q21 : write a function which can help you to filter only word file from a directory . 
    
q22 : write a function which can read video file and play for you . 
    
q23 : write a function which will be able to shutdonw your system . 

q24 : Write a function which will whould return list of all the file name from a directory . 

q25 : write a function whihc will be able to access your mail .

q14 : you have to write a fun which will take string and return a len of 
it without using a inbuilt fun len

In [10]:
s = "mani"
len(s)

4

In [11]:
def str_len(s) :
    count = 0
    for i in s :
        count = count+1
    return count

In [13]:
str_len(s)

4

In [2]:
def print_prim(l) :
    for i in range(len(l)) :
        print(i)

In [3]:
print_prim([4,5,6,5,4, "manish" , [8,9,3,9,3,9,3]])

0
1
2
3
4
5
6

In [ ]:
Q 16

In [ ]:
d = {'k1' :"value" , "k2" : "values " ,"k3" : { "k12" : "sudh" , "k13"  : "gafasd"}}